# ~/.config/firejail/firejail.conf
#
# github.com/kuladog
#

apparmor no
browser-allow-drm yes
disable-mnt yes
force-nonewprivs yes

## Defaults ##
arp-probes 2
bind yes
browser-disable-u2f yes
cgroup yes
chroot yes
dbus yes
file-transfer yes
firejail-prompt no
follow-symlink-as-user yes
join-timeout 5
join yes
name-change yes
network yes
overlayfs yes
private-bin-no-local no
private-cache yes
private-home yes
private-lib yes
quiet-by-default no
restricted-network no
seccomp-error-action EPERM
seccomp yes
userns yes
x11 yes

